body {
  margin: 0;
  font-family: Calibri, Helvetica, sans-serif;
}

h1 {
	font-family: Consolas;
	font-size: 40px;
	color: ff5733;
}
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #999999;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ffccc1;
  color: black;
}

.topnav a.active {
  background-color: #ff5733;
  color: white;
}

.botnav {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.botnav a {
  float: center;
  color: #999999;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.botnav a:hover {
  background-color: #ffccc1;
  color: black;
}

.botnav a.active {
  background-color: #ff5733;
  color: white;
}